{% extends "fancylayout.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Hangman</h1>
</div>
<p>Here is your word</p>
{{state['word_so_far']}}
<p>Guesses left: {{state['guesses_left']}}</p>
<form method="post" action="/play">
  Guess a letter: <input type="text" name="guess">
  <br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>

<p>Here are the letters you've guessed already</p>
  {% for x in state['guesses'] %}
   {{x}}
  {% endfor %}


{% if letter in state['guesses'] %}
   <p> This letter has already been guessed. Please guess again. </p> 
{% elif letter not in state['word'] %}
    <p> This letter is not in the word. Please guess again</p>
{% else %}
    <p> Good job, this is in the word. Make another guess. </p>
{% endif %}

{% endblock %}

