{% extends "fancylayout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Hangman</h1>
</div>

<div style="font-size: medium;">
  {% if not state['done'] and state['guesses_left'] != 0 %}
    <p>Here is your word</p>
    {{state['word_so_far']}}
    <p>Guesses left: {{state['guesses_left']}}</p>
    <form method="post" action="/play">
      Guess a letter: <input type="text" name="guess">
      <br>
      <input type="submit" class="btn btn-lg btn-danger" style="margin-top:10px; margin-bottom: 10px">
    </form>

    {% if state['result'] == "correct" %}
    <h3>Your guess is correct!</h3>
    {% elif state['result'] == "duplicate" %}
    <h3>You had already guessed this letter.</h3>
    {% else %}
    <h3>Your guess is wrong. Try again!</h3>
    {% endif %}

    <p>Here are the letters you've guessed already</p>
    {% for x in state['guesses'] %}
      {{x}}
    {% endfor %}

  {% endif %}

  {% if state['done'] %}
    <h3>Good job! You have correctly guessed the word.</h3>
    <h3>{{"The word is: " + state['word']}}</h3>
  {% elif state['guesses_left'] == 0 %}
    <h3>You have run out of guesses. Good luck next time!</h3>
    <h3>{{"The word was: " + state['word']}}</h3>
  {% endif %}

</div>
{% endblock %}

