{% extends "fancylayout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Hangman</h1>
</div>

<div style="font-size: medium;">
  {% if not state['done'] and state['guesses_left'] != 0 %}
    <p>Here is your word</p>
    {{state['word_so_far']}}
    <p>Guesses left: {{state['guesses_left']}}</p>
    <form method="post" action="/play">
      Guess a letter: <input type="text" name="guess">
      <br>
      <input type="submit" class="btn btn-lg btn-danger" style="margin-top:10px;">
    </form>

    <p>Here are the letters you've guessed already</p>
    {% for x in state['guesses'] %}
      {{x}}
    {% endfor %}

  {% endif %}

  {% if state['done'] %}
    <p>Good job! You have correctly guessed the word.</p>
    <br></br>
    {{"The word is: " + state['word']}}
  {% elif state['guesses_left'] == 0 %}
      {{"You have run out of guesses. Good luck next time!"}}
      <br></br>
      {{"The word was: " + state['word']}}
  {% endif %}

</div>
{% endblock %}

